services:
  server:
    build:
      context: .
      dockerfile: docker/server/Dockerfile
      args:
        SPARROW_VERSION: 2.3.1
    image: junco-umbrel-server:local
    restart: unless-stopped
    environment:
      SPARROW_NETWORK: mainnet
    volumes:
      - ./.junco/server:/data
    tty: true
    stdin_open: true

  web:
    build:
      context: .
      dockerfile: docker/web/Dockerfile
    image: junco-umbrel-web:local
    restart: unless-stopped
    ports:
      - "3009:8080"
    depends_on:
      - adapter
      - server

  adapter:
    build:
      context: .
      dockerfile: docker/adapter/Dockerfile
    image: junco-umbrel-adapter:local
    restart: unless-stopped
    environment:
      JUNCO_PORT: 8081
      JUNCO_NETWORK: mainnet
      JUNCO_DATA: /data
    volumes:
      - ./.junco/adapter:/data
    depends_on:
      - server
